---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>Autor</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Apasionado por entender, romper y mejorar sistemas, explorando la ciberseguridad ofensiva, especialmente en el sector bancario y financiero. 
		</p>
		<p>Interesado en el impacto de la computación cuántica, la inteligencia artificial y automatizaciones.</p>
	</div>
</div>


