---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';

---

<BaseLayout
	title="Sobre m칤"
	description="Lorem ipsum dolor sit amet"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4">Hola 游녦, soy Ignacio 'tiago' Santiago! </h1>
            <Prose>
              <div class="text-lg">
                <p>Soy estudiante de ultimo a침o de Ingenier칤a Civil Inform치tica y Telecomunicaciones, con formaci칩n complementaria en Ciberseguridad. Me apasiona entender c칩mo funcionan los sistemas, romperlos y construir soluciones m치s seguras e inteligentes.</p>

                <p>Actualmente estoy explorando el mundo de la ciberseguridad ofensiva, con un inter칠s especial en el sector bancario y financiero. Tambi칠n he estado aprendiendo y yendo a charlas sobre el mundo Cu치ntico, especialmente su potencial impacto en diversas 치reas, especialmente en la computaci칩n y la seguridad de la informaci칩n.</p>

              </div>
            </Prose>
          </div>
          <Image src={Ava} alt="Ignacio Santiago" width={300}  class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
        </div>     
        <div>

          <p><b>Creo firmemente en la importancia del networking, la colaboraci칩n en comunidad y el aprendizaje continuo</b> como pilares del crecimiento profesional. Participo en charlas, eventos y espacios donde comparto ideas, conecto con otros profesionales y sigo <b>ampliando mi visi칩n del ecosistema digital.</b></p>

          <p>Me motiva la idea de integrar Inteligencia Artifical (automatizar procesos y creaci칩n de agentes), computaci칩n en la nube y desarrollo de software para fortalecer la seguridad digital y crear herramientas innovadoras.</p> 
        
        </div>
        </article>

        <article class="mt-16">
          <h2 class="text-3xl font-bold mb-4">Habilidades T칠cnicas</h2>
          <Prose>
            <div class="text-lg">
              <ul class="list-disc list-inside space-y-2">
                <li><b>An치lisis de Seguridad y Redes:</b> Nmap, Burp Suite, Wireshark, Metasploit (B치sico)</li>
                <li><b>Gobernanza y Frameworks:</b> OWASP Top 10, ISO/IEC 27001, NIST, MITRE ATT\&CK (Conceptual)</li>
                <li><b>Lenguajes y Scripting:</b> Python, Bash (Nvim), Git, C++, Java, JavaScript</li>
                <li><b>Infraestructura y DevOps:</b> Docker, Linux (Kali, Parrot)</li>
                <li><b>Bases de Datos y Redes:</b> SQL (MySQL, PostgreSQL), NoSQL (MongoDB), TCP/IP, Modelo OSI</li>
              </ul>
            </div>
          </Prose>


      </article>
    </main>
  </div>
</BaseLayout>

